@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Ubuntu+Mono:ital@0;1&display=swap');



html{
   scroll-behavior: smooth;
  
    
}
body{
margin: 1%;
padding: 0%;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu Mono', monospace;

background-color: #20232a;
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}



.img-redes{
   width: 60px;
   height: auto;
   border-radius: 80%;
}

 .img-foto{
  width: 30%;
  height: auto;
   
 
   border-radius: 50%;
  
}


.img2{
   width: 45%;
  
    border: 1px solid #fff467;
    display: inline-block;
    
}

.img3{

   width: 50%;
   
   
   

 }
 .img4{

   width: 58%;
   
   

 }

  li{
  display: inline-block;
  
   list-style: none;
   gap: 10rem;
   transition: .5s ease-in-out;
   
  
}

 i:hover{
  
   cursor: pointer;
   transform: scaleY(1);
   transform-origin: top;
  
 }




nav{
   
   
  
   background-image: url(/img/IMEPAC-EAD-tecnologia-em-analise-e-desenvolvimento-de-sistemas.jpeg);
   font-size: large;
   border: solid #20232a;
   font-family: 'ubuntu', sans-serif;
   background-repeat: no-repeat;
   letter-spacing: 10px;
  
   position: relative;
  
   
   
   
   
   
}

nav a::after{
   content: '';
   width: 0%;
   height: 1px;
  
   position: absolute;
   bottom:  0;
   left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after{
   width: 100%;
   background-color: #fff467;
  
}



.center {
   
   text-align:center ;
   justify-content: center;
   align-items: center;
   
 }

 


h1{
font-size: large;
text-transform: uppercase;
letter-spacing:4px ;
color: #ffffff;
}
h2{
   text-transform: uppercase;
  
   color: #fff467;
   letter-spacing: 4px;
}
h3{
   text-transform: uppercase;
   color: #fff467;
   letter-spacing: 4px;
}
h4 {
   text-transform: uppercase;
   color: #ffffff;
   letter-spacing: 4px;
}

.social-media a{
   text-decoration: none;
   color: #fff467;
   padding: 1% 2%;
  

 
   
   overflow: hidden;
   transform: scaleX(2);
   transform-origin: top left;
   transition:  transform 250ms ease-in;


}
a{
   text-decoration: none;
   color: #fff467;
   transition: .5s ease-in-out;
   
}


 

button{
 display: inline-block;
 justify-content: center;
 text-decoration: none;
 position: center;
 border: 1px solid #fff467;
 
  

  font-family: 'ubuntu', sans-serif;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  
  color: #0f1523;
  

  text-decoration: none;
  cursor: pointer;

  transition: .15s;
}

button:hover{
   background: url(/img/code.png) ;
  background-size: 100%;
  color: #fff467;
  box-shadow:  0 0 1em gold;
  transition-delay: 0.8s;
  animation: animate1 0.8s steps(10) forwards;
 
}
@keyframes animate1{
   0%{
     background-position-y: 0;
   }
   100%{
     background-position-y: -480px;
   }
 }