@media (max-width: 768px) {
   .container {
     flex-direction: column;
   }
 }


.break-line {
   white-space: pre-line;
 }


body{
   background-color: #141021;
}




.img-foto{
   width: 20%;
   height: auto;
   margin: 30px; 
  
    border-radius: 50%;
  
}

.center {
   
   text-align:center ;
   justify-content: center;
   align-items: center;
   
 }

 html{
   scroll-behavior: smooth;
  

}

/* Estilo geral para o nav */
.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px; /* Ajuste o preenchimento conforme necessário */
 }
 
 /* Estilo para a lista de navegação */
 .nav-list {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
 }
 
 .nav-list li {
   margin-right: 20px; /* Espaçamento entre os itens */
 }
 
 .nav-list a {
   text-decoration: none;
   color: aliceblue; /* Cor do texto */
 }
 
 /* Estilo para a imagem do logo */
 .logo {
   height: 40px; /* Ajuste o tamanho conforme necessário */
 }
 

h1{
   color: aliceblue;
}
h2{
   color: aliceblue;
  
}
a{
   color: aliceblue;
}








/* CSS para a animação de máquina de escrever */
@keyframes type {
   from {
       width: 0;
   }
   to {
       width: 100%;
   }
}

h1 {
   overflow: hidden; /* Esconde o texto que ainda não foi "digitado" */
   border-right: .10em solid black; /* Simula o cursor da máquina de escrever */
   white-space: nowrap; /* Impede que o texto quebre para a linha seguinte */
   animation: type 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
   from, to {
       border-color: transparent;
   }
   50% {
       border-color: whitesmoke;
   }
}
